<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <li class="nav-item"><a routerLink="/registration" class="nav-item nav-link">Reg</a></li>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item"><a routerLink="/login" class="nav-item nav-link">Log</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="row">
    <h1 style="margin-left: 10%;">Register Page</h1>
</div>

<br/>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form [formGroup]="registrationForm" class="form">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" placeholder="Enter User Name" class="form-control" formControlName="userName" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Enter Password" class="form-control" formControlName="password" />
            </div>
            <div class="col-md-2">
                <button (click)="register()" [disabled]="registrationForm.invalid" class="btn btn-success btn-block">Register</button>
            </div>
        </form>
        <br>
    </div>
</div>